@tailwind base;
@tailwind components;
@tailwind utilities;



.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* موقعیت Tooltip */

  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bg-photo1{
  width:100%;
  background-image: url("../../public/images/2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.bg-photo2{
  width:100%;
  background-image: url("../../public/images/3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}
@font-face {
  font-family: 'Iransans';
  src: url('/Font/IranianSansRegular.ttf') format('ttf'),
       url('/Font/IRANSans-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.fontIranSans{
  font-family:Iransans;
}
body{
  font-family:Iransans;
}
