@tailwind base;
@tailwind components;
@tailwind utilities;



.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* موقعیت Tooltip */

  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bg-photo1{
  width:100%;
  background-image: url("../../public/images/2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}